<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Dynamic Test Suite">
  <listeners>
    <listener class-name="com.superapp.report.ExtentReportListener"/>
  </listeners>
  <test thread-count="5" name="com.superapp.tests.VerifyComparePlanFunctionalityFromQuickLinks">
    <classes>
      <class name="com.superapp.tests.VerifyComparePlanFunctionalityFromQuickLinks"/>
    </classes>
  </test> <!-- com.superapp.tests.VerifyComparePlanFunctionalityFromQuickLinks -->
</suite> <!-- Dynamic Test Suite -->
